[Unit]
Description=HashiCorp's Vault Secrets Store
After=network-online.target

[Service]
Type=simple
PIDFile=/run/vault/vault.pid
ExecStart=/usr/bin/vault server -config=/etc/vault/config.hcl
ExecReload=/bin/kill -s HUP $MAINPID
User=vault
Group=nogroup
RuntimeDirectory=vault
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
