#!/usr/bin/make -f

# output every command that modifies files on the build system.
export DH_VERBOSE = 1
export DEB_BUILD_OPTIONS = nocheck
export GOPATH = /go
export PATH = /go/bin:/usr/local/bin:/usr/bin:/usr/sbin:/bin:/sbin

%:
	dh $@ --with=systemd

override_dh_auto_build:
	make bootstrap dev-dynamic

# skip part of the build common tasks
override_dh_auto_test:

override_dh_install:
	rm -fr debian/vault/usr/bin
	install -d debian/vault/usr/bin
	cp --reflink=auto -a ./bin/vault debian/vault/usr/bin/
	install -d debian/vault-server/etc/vault
	cp --reflink=auto -a ./debian/config/config.hcl debian/vault-server/etc/vault/

override_dh_systemd_enable:
	dh_systemd_enable -pvault-server --name vault vault-server.service
# do not install the initscript on Debian 9
override_dh_installinit:
